*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/****************common**************** */
.boxed{
    width: 70%;
}

/* header */
header{
    background-color: blue;
    height: 5rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    /* position: fixed; */
    
}
.head1{
    width: 30%;
    height:80%;
    
    display: flex;
    flex-direction: row;
}
.head2{
    width: 30%;
    height:80%;
    
    display: flex;
    flex-direction: row;
}
.logo{
    border-radius: 5px;

    height:100%;
    width: 35%;
    border-style: dashed;
}
.button{
    border-radius: 5px;
    height:100%;
    width: 25%;
    border-style: dashed;
}
/* main */
/***************** blocco1 ******************/
.blocco1{
    display: flex;
    margin-top: 0%;
    height: 40rem;
    
    border-style: dashed;
    background-color: aqua;
    flex-direction: column;
    align-items: center;

}
.card_b1{
    margin-top:5%;
    border-style: dashed;
    height: 30%;
    width: 70%;
}
.card_b2{
   
    border-style: dashed;
    height: 100%;
    width: 30%;
}
.card_b3{
    background-color: violet;
    border-style: dashed;
    height: 100%;
    width: 70%;
}
.container{
    display: flex;
    height: 60%;
    width: 70%;
}
/***************** blocco2 ******************/
/* .container1{
    height: fit-content;
    width:fit-content ;
} */
.blocco2{
    display: flex;
    margin-top: 0%;
    height:fit-content;
    width: 100%;
    border-style: dashed;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}
.card2_b1{
    margin-top: 3%;
    border-style: dashed;
    height: 15%;
    width: 70%;
}
.card{
    height: 47rem;
    width: calc(100%/3);
    border-style: dashed;
    margin: 5%;
}
.bar{
    height: 15%;
    width: 100%;
    border-style: dashed;
    text-align: center;
}
/* h3{
    margin-top: 5%;
} */
.Titolo_b{
    font-size:3rem;
}
#input{
    margin-right:0%;
}
.card2{
    height: 12rem;
    width: 65%;
    border-style: dashed;
    margin: 5%;
}
.bar2{
    height: 20%;
    width: 100%;
    border-style: dashed;
    text-align: center;
    
}
.container2{
    margin-top: 2%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
/******************blocco3******************/
.blocco3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    height: 30rem;
    width: 100%;
    border-style: dashed;
    background-color: aqua;
    align-items: center;  
}
.card3_b1{
    background-color: violet;
    border-style: dashed;
    height: 100%;
    width: 40%;
}
.card3_b2{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: violet;
    border-style: dashed;
    height: 100%;
    width: 20%;
}
/****************Blocco4****************/
.blocco4{
    display: flex;
    margin-top: 0%;
    height:fit-content;
    width: 100%;
    border-style: dashed;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}
.container4{
    border-style: dashed;
    width: 70%;
    height: fit-content;
    margin-top: 2%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}
.card4{
    height: 30rem;
    width: calc(100%/3);
    border-style: dashed;
    

}
.bar4{
    height: 50%;
    width: 100%;
    border-style: dashed;
    text-align: center;
    
}
.blocco_footer4{
    margin-top: 2%;
    width: 50%;
}
/* ***************Blocco5************** */
.blocco5{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    height: 33rem;
    border-style: dashed;
    width: 100%;
}
.card5_b1{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: calc(100%/3);
    border-style: dashed;
}
.card5_b2{
    height: 100%;
    width: calc(100%/3);
   
}
.partner{
    border-style: dashed;
    height: 50%;
    width: 50%;
}
/* ***************Blocco6************** */
.blocco6{
    border-style: dashed;
    display: flex;
    align-items: center;
    height: 20rem;
    width: 100%;
    background-color: rgba(60, 60, 57, 0.178);
}
.card6{
    border-style: dashed;
    position: absolute;
    width: 60%;
    left: calc(+20%);
    display: flex;
    flex-direction: row;
}
/* h1{
    width: 50%;
} */
.card6_b1{
    border-style: dashed;
    color: brown;
    
    width: 40%;
}
.card6_b2{
    border-style: dashed;
    display: flex;
    align-items:center;
    justify-content:end;
    width: 60%;
  
}
/* ***************Blocco7************** */
.blocco7{
    height:fit-content;
    margin-top: 3%;
    width: 60%;
    display: flex;
    flex-direction:column;
}
.Q1{
    font-size:x-large;
    margin-bottom: 3%;
}
.q{
    margin-top: 4%;
    margin-bottom: 4%;
}
/* footer */
/* ***************Blocco8************** */
.blocco8{
    height: 25rem;
    background-color: rgb(0, 0, 0);
    border-style: dashed;
    width: 100%;
   
    
}
.container8{
    display: flex;
    justify-content: center; 
    border-style: dashed;
}

.card_b8{
    margin: 3%;
    color: white;
}
h3{
    margin-bottom: 1rem;
}
.final{
    border-top-color: aliceblue ;
    color: white;
    padding-top: 3%;
    margin-left: 14% ;
    width: 10%;
    border-top: solid;
    border-color: white;
}
